@import '../../../assets/css/base';

.WarpperFooter {
  position: relative;
  width: 100%;
  height: 850px;
  margin-top: 100px;
  background-color: $primary-color;
}
.FooterTop {
  padding: 143px 380px;
}
.FooterLogo {
  margin: -31px 0 37px -28px;
}
.FooterMain {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 143px;
  left: 20%;
  width: 60%;
}
.UsTitle {
  font-size: 25px;
  font-weight: bold;
}
.FooterSocial {
  list-style: none;
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}
.FooterSocialItem {
  & + .FooterSocialItem {
    margin-left: 19px;
  }
  &:hover img {
    opacity: 0.5;
    cursor: pointer;
  }
}
.language {
  display: flex;
  align-items: center;
  width: 145px;
  height: 52px;
  background-color: $white;
  border: 1px solid $primary-color;
  border-radius: 4px;
  img {
    position: absolute;
    left: 10px;
  }
  select {
    margin-left: 0;
    text-align: center;
    height: inherit;
    flex: 1;
    border: transparent;
    outline: none;
    background-color: transparent;
    color: $primary-color;
    font-weight: 500;
    cursor: pointer;
  }
  .option {
    display: block;
    padding: 20px;
  }
}
.LinksOtherItem {
  & + .LinksOtherItem {
    margin-top: 50px;
  }
}
.LinksOtherTitle {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.LinkList {
  margin-top: 37px;
}
.LinkListItem {
  list-style: none;
  a {
    line-height: 26px;
    display: block;
    color: $text-color;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
.FooterBottom {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #fff;
  p {
    height: inherit;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .FooterMain {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .WarpperFooter {
    padding: 0 20px;
    height: 518px;
  }
  .language,
  .FooterUs {
    display: none;
  }
  .FooterTop {
    padding: 0;
  }
  .FooterMain {
    position: unset;
    flex-direction: column;
    width: 100%;
  }
  .MainLeft {
    display: flex;
    justify-content: center;
  }
  .FooterLogo {
    width: 274px;
    height: 85px;
    margin: unset;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .LinksOther {
    display: flex;
    justify-content: space-between;
    .LinksOtherItem {
      margin-top: unset;
    }
  }
  .FooterBottom {
    position: unset;
    border: none;
    margin-top: 45px;
    p {
      display: block;
      height: unset;
    }
  }
}
