@import '../../assets/css/styles.scss';

.ExclusiveTitle {
  position: relative;
  left: 20%;
  width: 60%;
  margin-bottom: 30px;
  padding-top: 80px;
  color: #0095f3;
}
.ExclusiveItem {
  height: 450px;
}
.ExclusiveImg {
  position: relative;
  cursor: pointer;
  height: 450px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  &:hover {
    border-radius: 4px;
    transform: scale(1.05);
    transition: 400ms ease-in-out;
  }
}
.wrapperExclusive .InfiniteCarouselArrow {
  top: 105% !important;
}
.wrapperExclusive .InfiniteCarouselArrowPrev {
  left: 40%;
}
.wrapperExclusive .InfiniteCarouselArrowNext {
  right: 40%;
}
.wrapperExclusive .InfiniteCarouselDots {
  bottom: -62px;
  color: red;
}
.wrapperExclusive .InfiniteCarouselFrame {
  width: 100%;
  overflow: hidden;
  height: inherit;
  padding: 20px 0;
}
.wrapperExclusive .InfiniteCarouselPaging {
  bottom: -35px;
}
